#head, #whoami, #whatdoido, #whatdoithink, #moreme, #backtome, .post {
    color: white;
}

#head {
    height: 800px;
    background: #2c3e50;
}

.way-up {
    transition: top 1s !important;
    position: absolute !important;
    top: -2000% !important;
}

/*
 * Splash Page Formatting
 */

#splash, #main {
    transition: top 2s;
    position: absolute;
    top: 800px;
}

#whoami {
    background: #e74c3c;
}

#whoami .square {
    color: #e74c3c;
}

#whatdoithink {
    background: #2ecc71;
}

#whatdoithink .square {
    color: #2ecc71;
}

#whatdoido {
    background: #3498db;
}

#whatdoido .square {
    color: #3498db;
}

#cryptocoins {
    background: #e67e22;
}

#cryptocoins .square {
    color: #e67e22;
}

#moreme {
    background: #9b59b6;
}

#backtome {
    background: #34495e;
}

.square {
    position: relative;
    margin: 0.5em 0;
    background: white;
    color: #2c3e50;
    padding: 1em;
}

.square-header {
    padding: 1em;
}

.square-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.square p {
    font-size: 18px;
}

.site-footer, .section-head, .square-footer, .square-header {
    text-align: center;
}

.section-head {
    margin-top: -2em;
}

@media (min-width: 768px) {
    .square-row {
        display: -webkit-flex;
        display: -moz-flex;
        display: flex;
        flex-flow: row nowrap;
        -webkit-flex-flow: row nowrap;
        -moz-flex-flow: row nowrap;
    }

    .col-sm-4 {
        flex: 1;
        -webkit-flex: 1;
        -moz-flex: 1;
        display: -webkit-flex;
        display: -moz-flex;
        display: flex;
        flex-flow: column nowrap;
        -webkit-flex-flow: column nowrap;
        -moz-flex-flow: column nowrap;
    }
    
    .square {
        flex: 1;
        -webkit-flex: 1;
        -moz-flex: 1;
        overflow: hidden;
    }
    
    .section-head {
        margin-top: -4em;
    }
}

#moreme .section-head, #backtome .section-head {
    margin-top: -0.25em;
}

#moreme a, #moreme a:visited, #backtome a, #backtome a:visited, .blog-title a {
    color: white;
}

#moreme a:hover, #backtome a:hover {
    color: #ecf0f1;
}

.qr {
    height: auto;
    width: 240px;
    max-width: 100%;
}


@media (max-width: 987px) and (min-width: 768px) {
    .qr {
        width: 160px;
    }

    .addr {
        font-size: 8px;
    }
}

.addr {
    overflow-wrap: break-word;
}

.jumbotron {
    margin-bottom: 0;
}

.blog-info {
    margin-left: 0;
}

.blog-title, .blog-description {
    margin-top: -0.3em;
}

.blog-description {
    margin-left: 3px;
}

/* 
 * Post Formatting
 */

.post:nth-child(5n+1) {
    background: #e74c3c;
}

.post:nth-child(5n+2) {
    background: #2ecc71;
}

.post:nth-child(5n+3) {
    background: #3498db;
}

.post:nth-child(5n+4) {
    background: #e67e22;
}

.post:nth-child(5n+5) {
    background: #9b59b6;
}

.meta-container {
    padding-top: 0.5em;
}

.meta {
    padding: 0.5em;
    background: #34495e;
    margin-right: 0.1em;
}

.meta:last-child {
    margin-right: 0;
}

.post-title {
    margin: 0.5em 0;
}

.post-excerpt {
    font-size: 24px;
    padding: 1em;
    padding-bottom: 0;
}

.read-more {
    text-align: center;
    width: 8em;
    margin: 1em auto !important;
    margin-bottom: 0 !important;
    font-size: 24px;
}

.read-more a {
    color: white;
}

.post-content {
    padding: 0 5%;
}

.post-content img {
    width: 100%;
}

.post-content blockquote {
    margin-left: 2em;
}

.post-content a, .post-title a {
    color: #c7254e;
}

.post-content a {
    background-color: #f9f2f4;
    white-space: nowrap;
    border-radius: 4px;
    padding: 0.1em;
}

.post-content p {
}