#head, #whoami, #whatdoido, #whatdoithink, #moreme, #backtome, .post {
    color: white;
}

#head {
    height: 800px;
    background: #2c3e50;
}

/*
 * Splash Page Formatting
 */

#splash, #main {
    transition: top 2s;
    position: absolute;
    top: 800px;
}

#whoami {
    background: #e74c3c;
}

#whoami .square {
    color: #e74c3c;
    height: 22em;
}

#whatdoithink {
    background: #2ecc71;
}

#whatdoithink .square {
    color: #2ecc71;
    height: 25em;
}

#whatdoido {
    background: #3498db;
}

#whatdoido .square {
    color: #3498db;
    height: 24em;
}

#cryptocoins {
    background: #e67e22;
}

#cryptocoins .square {
    color: #e67e22;
    height: 354px;
}

#moreme {
    background: #9b59b6;
}

#backtome {
    background: #34495e;
}

.square {
    position: relative;
    margin: 1em 0;
    background: white;
    color: #2c3e50;
    padding: 1em;
}

.square-header {
    padding: 1em;
}

.square-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.square p {
    font-size: 18px;
}

.site-footer, .section-head, .square-footer, .square-header {
    text-align: center;
}

.section-head {
    margin-top: -4%;
}

#moreme .section-head, #backtome .section-head {
    margin-top: 0;
}

#moreme a, #moreme a:visited, #backtome a, #backtome a:visited {
    color: white;
}

#moreme a:hover, #backtome a:hover {
    color: #ecf0f1;
}

.jumbotron {
    margin-bottom: 0;
}

.blog-info {
    margin-left: 1em;
}

.blog-title, .blog-description {
    margin-top: -0.3em;
}

.blog-description {
    margin-left: 3px;
}

/* 
 * Post Formatting
 */

.post:nth-child(5n+1) {
    background: #e74c3c;
}

.post:nth-child(5n+2) {
    background: #2ecc71;
}

.post:nth-child(5n+3) {
    background: #3498db;
}

.post:nth-child(5n+4) {
    background: #e67e22;
}

.post:nth-child(5n+5) {
    background: #9b59b6;
}

.meta-container {
    padding-top: 0.5em;
}

.meta {
    padding: 0.5em;
    background: #34495e;
    margin-right: 0.1em;
}

.meta:last-child {
    margin-right: 0;
}

.post-title {
    margin: 0.5em 0;
}

.post-excerpt {
    font-size: 24px;
    padding: 1em;
    padding-bottom: 0;
}

.read-more {
    text-align: center;
    width: 8em;
    margin: 1em auto !important;
    margin-bottom: 0 !important;
    font-size: 24px;
}

.read-more a {
    color: white;
}

.way-up {
    transition: top 1s !important;
    position: absolute !important;
    top: -2000% !important;
}